


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 1rem 2rem;
  color: #fff;
  margin-top: 21px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar .logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: #fff;
}

.navbar .nav-links {
  display: flex;
  gap: 2rem;
}

.navbar .nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s ease-in-out;
}

.navbar .nav-links a:hover {
  color: #ccc;
  text-decoration: underline;
}

